Repository harunonsystem/notionic: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun lint
      stage_fixed: true
    format:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bun format
      stage_fixed: true
    typecheck:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun typecheck
    test:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun run test

chore: upgrade dependencies to latest versions (#54)
  bun.lock
  package.json
Due: format

fix: improve error handling for Notion API failures and fix Next.js config warnings
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Hero/Notes.tsx
  components/Post/TableOfContents.tsx
  lib/notion/getAllPageIds.ts
  lib/notion/getAllPosts.ts
  next.config.js
  pages/index.tsx
  pages/news.tsx
  pages/notes.tsx
  pages/s/[subpage].tsx
Due: lint, format, typecheck, test

refactor: improve type safety and remove unnecessary null checks
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Hero/Notes.tsx
  lib/notion/getAllPosts.ts
  pages/index.tsx
  pages/news.tsx
  pages/notes.tsx
  pages/s/[subpage].tsx
Due: lint, format, typecheck, test

refactor: implement comprehensive type safety improvements
  components/BlogPost.test.tsx
  components/BlogPost.tsx
  components/Common/FormattedDate.tsx
  components/Pagination.tsx
  lib/notion/getAllPosts.ts
  lib/types.ts
  pages/index.tsx
  pages/news.tsx
  pages/notes.tsx
  pages/s/[subpage].tsx
Due: lint, format, typecheck, test

refactor: simplify notes page by removing unnecessary hero section
  pages/notes.tsx
Due: lint, format, typecheck, test

chore: remove unnecessary commented code
  pages/index.tsx
  pages/news.tsx
Due: lint, format, typecheck, test

fix: add defensive null checks to prevent crashes
  lib/notion/getAllPosts.ts
  pages/s/[subpage].tsx
Due: lint, format, typecheck, test

fix: improve error handling (#55)
  components/BlogPost.test.tsx
  components/BlogPost.tsx
  components/Common/FormattedDate.tsx
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Hero/Notes.tsx
  components/Pagination.tsx
  components/Post/TableOfContents.tsx
  lib/notion/getAllPageIds.ts
  lib/notion/getAllPosts.ts
  lib/types.ts
  next.config.js
  pages/index.tsx
  pages/news.tsx
  pages/notes.tsx
  pages/s/[subpage].tsx
Due: lint, format, typecheck, test

chore: upgrade lucide-react, next, @next/bundle-analyzer, tailwindcss
  bun.lock
  package.json
Due: format

refactor: convert v3 @apply directives to v4 CSS variables in globals.css
  styles/globals.css
Due: none

refactor: upgrade tailwindcss from v3 to v4 syntax
  components/BlogPost.tsx
  components/ContactForm.tsx
  components/Container.tsx
  components/Loading.tsx
  components/NavBar/Footer.tsx
  components/NotFound.tsx
  components/NotePost.test.tsx
  components/NotePost.tsx
  components/Post/PastOneYear.tsx
  components/Post/PostFooter.tsx
  pages/api/jsrewrite.ts
  pages/contact.tsx
Due: lint, format, typecheck, test

add umami analytics
  blog.config.ts
Due: lint, format, typecheck, test

usie eslint v8
  .eslintrc.json
  bun.lock
  components/NavBar/Header.tsx
  eslint.config.mjs
  package.json
Due: lint, format, typecheck, test

add umami analytics (#57)
  .eslintrc.json
  blog.config.ts
  bun.lock
  components/NavBar/Header.tsx
  eslint.config.mjs
  package.json
Due: lint, format, typecheck, test

feat: upgrade to Tailwind CSS v4
  package-lock.json
  package.json
  postcss.config.js
  styles/globals.css
  styles/notion.css
  tailwind.config.js.old
Due: lint, format, typecheck, test

chore: apply biome formatting to CSS files
  styles/globals.css
  styles/notion.css
Due: none

chore: remove package-lock.json (using bun.lock)
  package-lock.json
Due: format

Enable Umami analytics by setting provider to 'umami'
  blog.config.ts
Due: lint, format, typecheck, test

Set analytics provider to 'umami'
  blog.config.ts
Due: lint, format, typecheck, test

debug: add logging to diagnose 403 error on /en/gh-saved-replies
  lib/notion/filterPublishedPosts.ts
  lib/notion/getAllPosts.ts
  package-lock.json
  pages/[slug].tsx
Due: lint, format, typecheck, test

fix
  lib/i18n.js
  lib/i18n.ts
  next.config.js
  pages/[slug].tsx
  pages/page/[page].tsx
  pages/s/[subpage].tsx
  pages/tag/[tag].tsx
Due: lint, format, typecheck, test

fix (#58)
  lib/i18n.js
  lib/i18n.ts
  next.config.js
  pages/[slug].tsx
  pages/page/[page].tsx
  pages/s/[subpage].tsx
  pages/tag/[tag].tsx
Due: lint, format, typecheck, test

fix: update GitHub Actions to use correct Bun lockfile name
  .github/actions/action.yml
Due: format

security: update Next.js and React to patched versions
  package.json
Due: format

chore: update bun.lock for security patch versions
  bun.lock
Due: none

feat: upgrade to Next.js 16 and ESLint 9
  .nvmrc
  bun.lock
  eslint.config.mjs
  package.json
Due: format

breaking: remove built-in i18n configuration
  components/ContactForm.tsx
  components/Hero/Avatar.tsx
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Hero/Notes.tsx
  components/Loading.tsx
  components/NavBar/Footer.tsx
  components/NavBar/Header.tsx
  components/NotFound.tsx
  components/Pagination.tsx
  components/Post/CopyMarkdownButton.tsx
  components/Post/PastOneYear.tsx
  components/Post/PostFooter.tsx
  components/Post/ShareButton.tsx
  layouts/search.tsx
  next.config.js
  pages/contact.tsx
Due: lint, format, typecheck, test

chore: format files with biome
  eslint.config.mjs
Due: none

chore: remove .nvmrc file
  .nvmrc
Due: none

fix
  bun.lock
  package.json
  pages/[slug].tsx
  pages/s/[subpage].tsx
  pages/tag/[tag].tsx
Due: lint, format, typecheck, test

fix (#61)
  bun.lock
  package.json
  pages/[slug].tsx
  pages/s/[subpage].tsx
  pages/tag/[tag].tsx
Due: lint, format, typecheck, test

next 16.0.10
  bun.lock
  package.json
Due: format

update
  bun.lock
  package.json
Due: format

next 16.0.10 (#62)
  bun.lock
  package.json
Due: format

Add domain redirect from harunonsystem.com to X profile
  next.config.js
Due: lint, format, typecheck, test

Add domain redirect in vercel.json
  next.config.js
  vercel.json
Due: lint, format, typecheck, test

Add domain redirect from harunonsystem.com to X profile (#63)
  vercel.json
Due: format

fix: redirect www.harunonsystem.com to X as well
  vercel.json
Due: format
