Repository harunonsystem/notionic: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun run lint --fix
      stage_fixed: true
    format:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: bun run format {staged_files}
      stage_fixed: true
    typecheck:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun run typecheck
    test:
      glob: '*.{js,jsx,ts,tsx}'
      run: bun run test run

package update
  bun.lock
  components/Common/TransitionEffect.tsx
  components/Post/Utterances.tsx
  package.json
  styles/nprogress.css
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

migrate to biome + bun
  biome.json
  lefthook.yml
  package.json
Due: format

add test
  biome.json
  components/ContactForm.test.tsx
  components/Pagination.test.tsx
  lib/day.test.ts
  lib/lang.test.ts
  lib/notion/filterPublishedPosts.test.ts
  setupTests.ts
  testUtils/README.md
  testUtils/mocks/nextRouter.ts
Due: lint, format, typecheck, test

gha, coverage add
  .github/actions/set-up-node.yml
  .github/workflows/run-test.yml
  bun.lock
  package.json
  vitest.config.mts
Due: format

rm coverage
  package.json
  vitest.config.mts
Due: format

react@19, next@15 update
  bun.lock
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

gha fix
  .github/actions/action.yml
  .github/workflows/run-test.yml
Due: format

gha fix
  .github/workflows/run-test.yml
Due: format

performance v1
  bun.lock
  components/BlogPost.tsx
  components/Common/Scripts.tsx
  components/NavBar/Header.tsx
  components/NotionStyles.tsx
  components/Post/Content.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

cache fix
  layouts/layout.tsx
  layouts/search.tsx
  lib/cache.ts
  lib/notion/getAllPosts.ts
  lib/notion/getPostBlocks.ts
  next.config.js
  pages/[slug].tsx
  pages/index.tsx
  pages/news.tsx
  public/comments/comments-en.js
  public/comments/comments-zh.js
  public/comments/comments.js.map
  vitest.config.mts
Due: lint, format, typecheck, test

eslint disabled
  next.config.js
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

using happy-dom
  AGENTS.md
  bun.lock
  package.json
  tsconfig.tsbuildinfo
  vitest.config.mts
Due: format

package update
  bun.lock
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Loading.tsx
  components/NavBar/Footer.tsx
  components/NavBar/Header.tsx
  components/NavBar/LangSwitcher.tsx
  components/NavBar/ThemeSwitcher.tsx
  components/Pagination.tsx
  components/Post/Aside.tsx
  components/Post/Content.tsx
  components/Post/PastOneYear.tsx
  components/Post/PostFooter.tsx
  components/Post/ShareButton.tsx
  components/Post/TableOfContents.tsx
  package.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix
  blog.config.ts
  bun.lock
  package.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

use eslint
  bun.lock
  components/BlogPost.tsx
  components/NavBar/Header.tsx
  dev.sh
  package.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

rm file
  .gitpod.yml
  .npmrc
  .prettierignore
  .prettierrc
  tsconfig.tsbuildinfo
Due: format

vercel analytics
  bun.lock
  package.json
  pages/_app.tsx
Due: lint, format, typecheck, test

twitter link -> x.com
  blog.config.ts
  components/Post/ShareButton.tsx
  lib/lang.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

theme switch fix
  components/NavBar/ThemeSwitcher.tsx
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

css fix
  components/Post/ShareButton.tsx
  styles/notion.css
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix coderabbit review
  AGENTS.md
  components/NavBar/ThemeSwitcher.tsx
  components/Post/ShareButton.tsx
Due: lint, format, typecheck, test

coderabbit review fix
  components/NavBar/ThemeSwitcher.tsx
  components/Post/ShareButton.tsx
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix
  components/NavBar/ThemeSwitcher.test.tsx
  components/Post/ShareButton.test.tsx
  components/Post/ShareButton.tsx
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix
  components/Post/ShareButton.tsx
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

Update components/Post/ShareButton.tsx
  components/Post/ShareButton.tsx
Due: lint, format, typecheck, test

rm duplicated code
  components/Post/ShareButton.tsx
Due: lint, format, typecheck, test

add dependabot
  .github/dependabot.yml
Due: format

test fix
  .gitignore
  biome.json
  components/BlogPost.test.tsx
  components/Common/Tags.test.tsx
  components/Hero/Home.test.tsx
  components/NavBar/Footer.test.tsx
  components/NavBar/Header.test.tsx
  components/NotePost.test.tsx
  components/Post/Aside.test.tsx
  components/Post/Content.test.tsx
  components/Post/ShareButton.test.tsx
  lib/lang.test.ts
  lib/lang.ts
  lib/notion.test.ts
  setupTests.ts
  testUtils/mocks/nextRouter.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix: dependabot.yml
  .github/dependabot.yml
Due: format

fix: update lockfile to resolve CI frozen lockfile error
  bun.lock
Due: none

fix
  bun.lock
  components/Common/FormattedDate.tsx
  components/Common/Logo.tsx
  components/Common/Social.tsx
  components/ContactForm.tsx
  components/Hero/Home.tsx
  components/Hero/Newsletter.tsx
  components/Loading.tsx
  components/NavBar/Footer.tsx
  components/NavBar/Header.tsx
  components/NavBar/LangSwitcher.tsx
  components/NavBar/ThemeSwitcher.tsx
  components/Pagination.tsx
  components/Post/Aside.test.tsx
  components/Post/Aside.tsx
  components/Post/Content.tsx
  components/Post/PastOneYear.tsx
  components/Post/PostFooter.tsx
  components/Post/ShareButton.tsx
  components/Post/TableOfContents.tsx
  components/SvgIcons/GitHubIcon.tsx
  components/SvgIcons/KeybaseIcon.tsx
  components/SvgIcons/NotionicLogo.tsx
  components/SvgIcons/SearchIcon.tsx
  components/SvgIcons/TwitterIcon.tsx
  components/SvgIcons/XIcon.tsx
  components/SvgIcons/index.ts
  layouts/search.tsx
  lib/day.test.ts
  lib/day.ts
  lib/notion/getAllPosts.ts
  lib/timezone.test.ts
  lib/timezone.ts
  package.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix copied icon
  components/Post/ShareButton.tsx
Due: lint, format, typecheck, test

Update lib/timezone.test.ts
  lib/timezone.test.ts
Due: lint, format, typecheck, test

Update components/SvgIcons/NotionicLogo.tsx
  components/SvgIcons/NotionicLogo.tsx
Due: lint, format, typecheck, test

fix
  lib/notion/getAllPosts.ts
  lib/timezone.test.ts
  lib/timezone.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix: coderabbit
  lib/timezone.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

chore: migrate eslintrc to .cjs format for eslint 9 compatibility
  .eslintrc.cjs
  package.json
Due: format

chore: remove eslint from lint script since biome handles linting
  package.json
Due: format

fix: disable eslint in lint script and simplify configuration
  package.json
Due: format
