Repository harunonsystem/notionic: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: bun lint
  stage_fixed: true

format:
  run: bun format
  stage_fixed: true

typecheck:
  run: bun typecheck

test:
  run: bun run test

fix: correct IntersectionObserver mock implementation for vitest compatibility
  components/NavBar/Header.test.tsx
  setupTests.ts
Due: lint, format, typecheck, test

chore: remove unnecessary eslint configuration, biome handles all linting
  .eslintrc.cjs
  .eslintrc.json
  bun.lock
  package.json
  tsconfig.tsbuildinfo
Due: format

chore: upgrade to eslint v9 with flat config for core-web-vitals checking
  bun.lock
  eslint.config.js
  package.json
Due: lint, format, typecheck, test

chore: clean up eslint - remove @eslint/eslintrc, upgrade to v9, minimal config
  bun.lock
  eslint.config.js
  package.json
Due: lint, format, typecheck, test

chore: simplify eslint to typescript parser only - biome handles all linting
  eslint.config.js
Due: lint, format, typecheck, test

chore: integrate Next.js core-web-vitals linting rules into ESLint configuration
  eslint.config.js
  package.json
Due: lint, format, typecheck, test

chore: upgrade Biome to 2.3.1 and enable Tailwind CSS directive support
  biome.json
  package.json
Due: format

chore: configure Biome to exclude .next build directory from processing
  biome.json
Due: format

fix: remove ES module type from package.json and fix CSS @import order for Turbopack compatibility
  package.json
  styles/globals.css
Due: format

fix: prevent hydration mismatches in ThemeSwitcher and NotionRenderer components
  components/NavBar/ThemeSwitcher.tsx
  components/Post/NotionRenderer.tsx
Due: lint, format, typecheck, test

chore: remove deprecated eslint config from next.config.js
  next.config.js
Due: lint, format, typecheck, test

fix: update CI workflow to handle bun lockfile mismatches
  .github/actions/action.yml
Due: format

chore: update Next.js 16 compatibility - migrate image domains to remotePatterns and update tsconfig
  bun.lock
  next-env.d.ts
  next.config.js
  tsconfig.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

Fix test setup and linting issues for full check pass
  biome.json
  bun.lock
  components/NavBar/Header.test.tsx
  components/NotePost.test.tsx
  package.json
  setupTests.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

Remove unnecessary constructors in IntersectionObserverMock classes
  components/NavBar/Header.test.tsx
Due: lint, format, typecheck, test

tsbuildinfo
  tsconfig.tsbuildinfo
Due: none

Fix global CSS imports for Next.js 16 build compatibility
  components/NotionStyles.tsx
  next-env.d.ts
  pages/_app.tsx
  styles/globals.css
  tsconfig.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix
  tsconfig.tsbuildinfo
Due: none

Update components/NotePost.test.tsx
  components/NotePost.test.tsx
Due: lint, format, typecheck, test

Clean up unused variable declarations in NotePost test
  components/NotePost.test.tsx
Due: lint, format, typecheck, test

Restore next-env.d.ts to auto-generated state
  next-env.d.ts
Due: lint, format, typecheck, test

Fix test setup and linting issues for full check pass (#50)
  biome.json
  bun.lock
  components/NavBar/Header.test.tsx
  components/NotePost.test.tsx
  components/NotionStyles.tsx
  next-env.d.ts
  package.json
  pages/_app.tsx
  setupTests.ts
  styles/globals.css
  tsconfig.json
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

Migrate from Dependabot to Renovate
  .github/dependabot.yml
  .renovaterc.json
Due: format

chore: migrate ESLint to v9 with flat config system
  .eslintrc.cjs
  .eslintrc.json
  bun.lock
  components/BlogPost.test.tsx
  components/NotePost.test.tsx
  components/Post/Aside.test.tsx
  eslint.config.mjs
  lib/gtag.ts
  package.json
  setupTests.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix: correct caret versions for package stability
  bun.lock
Due: none

refactor: enhance IntersectionObserver mock with proper API fidelity
  eslint.config.mjs
  setupTests.ts
Due: lint, format, typecheck, test

fix: restore proper type safety to gtag global declaration
  eslint.config.mjs
  lib/gtag.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

fix coderabbit review
  eslint.config.mjs
Due: none

refactor: remove unnecessary TypeScript type globals from ESLint config
  setupTests.ts
Due: lint, format, typecheck, test

chore: migrate ESLint to v9 with flat config system (#51)
  .eslintrc.cjs
  .eslintrc.json
  bun.lock
  components/BlogPost.test.tsx
  components/NotePost.test.tsx
  components/Post/Aside.test.tsx
  eslint.config.mjs
  lib/gtag.ts
  package.json
  setupTests.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

chore: update lucide-react to v0.553.0
  bun.lock
  package.json
Due: format

chore: update lucide-react to v0.553.0 (#52)
  bun.lock
  package.json
Due: format

feat: add markdown copy button to blog posts
  components/Post/CopyMarkdownButton.tsx
  components/Post/PostFooter.tsx
  layouts/layout.tsx
  lib/lang.ts
  lib/notion/convertToMarkdown.ts
  next-env.d.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

chore: remove tsconfig.tsbuildinfo from git tracking
  tsconfig.tsbuildinfo
Due: none

refactor: simplify markdown conversion using notion-utils
  lib/lang.ts
  lib/notion/convertToMarkdown.ts
Due: lint, format, typecheck, test

Update lib/notion/convertToMarkdown.ts
  lib/notion/convertToMarkdown.ts
Due: lint, format, typecheck, test

fix: prevent duplicate title in markdown copy
  components/Post/CopyMarkdownButton.tsx
Due: lint, format, typecheck, test

fix: cleanup timer and fix code block formatting
  components/Post/CopyMarkdownButton.tsx
  lib/notion/convertToMarkdown.ts
Due: lint, format, typecheck, test

Claude/add markdown copy button (#53)
  components/Post/CopyMarkdownButton.tsx
  components/Post/PostFooter.tsx
  layouts/layout.tsx
  lib/lang.ts
  lib/notion/convertToMarkdown.ts
  next-env.d.ts
  tsconfig.tsbuildinfo
Due: lint, format, typecheck, test

chore: upgrade dependencies to latest versions
  bun.lock
  package.json
Due: format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  typecheck: any of: *.{js,jsx,ts,tsx}
  test: any of: *.{js,jsx,ts,tsx}
